<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!-- container for meta data (it's not displayed on the page)
  title, styles(css)
  -->
</head>
<body>
<b>Welcome to Java developer course with Hannan</b>
<h1 align="right" style="color:blue"> Spring Boot </h1>
<h2> Spring Boot </h2>
<h3> Spring Boot </h3>
<h4> Spring Boot </h4>
<h5> Spring Boot </h5>
<!--command-->

<img src="exp.png" alt="Spring boot image">

<!--List-->
<ul>
<li>Java</li>
    <li>MVC</li>
    <li>ORM</li>
</ul>

<!--Link-->
<a href="https://amazon.ca">AMAZON</a>
<br>
<br>
<!--Table-->
<table>
    <thead>

    </thead>

    <tbody>

    </tbody>

    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Salary</td>
    </tr>

    <tr>
        <td>Hannan</td>
        <td>Orhan</td>
        <td>85k</td>
    </tr>

</table>
<br>
<!--Inputs: text box, radio button, checkbox-->
<label>UserName: </label>
<input type="text" name="username">
<br>
<br>
<label>Password: </label>
<input type="password" name="password">
<br>
<br>
<label>Enter your comments </label>
<textarea name="comments"></textarea>
<br>
<br>
<label>Select your gender</label>
<input type="radio" name="gender" value="male">Male
<input type="radio" name="gender" value="female">Female
<input type="radio" name="gender" value="other">Other
<br>
<br>
<label>Select your favorite courses</label>
<input type="checkbox" name="course" value="spring">Spring
<input type="checkbox" name="course" value="java">Java
<input type="checkbox" name="course" value="sql">SQL
<br>
<br>
<label>Select your program</label>
<select>
    <option value="DEFAULT">DEFAULT</option>
    <option value="US-SDET">US-SDET</option>
    <option value="EU-SDET">EU-SDET</option>
    <option value="TR-SDET">TR-SDET</option>
</select>
<br>
<br>
<label>Form</label>
<form action="#" method="get">
    Firstname <input type="text" name="first-name">
    <br>
    Lastname <input type="text" name="last-name">
    <br>
    <input type="button" value="submit">

</form>

<div style="background-color: aqua">
    <h3>Java Dev</h3>
    <ul>
        <li>Data Structure</li>
        <li>Spring</li>
    </ul>

</div>

</body>
</html>